The present document is a *notebook*. It is made up of *cells*, each *cell* can have a different type:
- text (Markdown) to explain the operations
- code, which can be executed.    

The present cell is a text one, the next one is a code celln in which we define a variable `b`:

In [2]:
b = 2.71828

## Formatting the cell
You don't need to know a lot of Markdown, there are a few basic commands.
- Place `*` symbols around a string to make it italic.
- Place `**` symbols to have a bold string.

The `#` is used to format the cell different types if heading.

## Data types
There are several data types, here we just present a few of them.      
The command `type()` returns the type of the variable.

In [3]:
type(b)

float

### Strings
They can be defined using single or double quotes.

In [4]:
name = "charles"
country = 'belgium'

In [6]:
type(name)

str

Python is a object oriented program: each object you defined has a set of properties and methods assigned to it.      
You can see the properties and methodes relative to the variable `country` by typing the variable name followed by a dot, then hit 2 times the TAB button.

In [7]:
name.

You should see a list starting with:
```python
name.capitalize
name.casefold
name.center
...
```

### Floating numbers
We already define such a variable.

In [8]:
b

2.71828

and we can look at the associated methods (hitting the TAB twice).

In [10]:
b.

(382563899846521, 140737488355328)

You should see:

```python
b.as_integer_ratio()
b.conjugate
b.fromhex
...
```

### Lists
A list contains different elements, which can all have a different type:

In [11]:
countrylist = ["spain", "portugal", "italy"]
mixedlist = ["Cadiz", 4.4, b]

even a list can be the element of another list:

In [13]:
nestedlist = [1, 2, ["hello", "hola", "bonjour"]]

To access a given element of a list, one has to use the square brackets: `[ ]`.      
Remember that the indices start at zero:

In [15]:
countrylist[0]

'spain'

In [16]:
countrylist[-1]

'italy'

We can also check which methods are available with a list.      
You should see this:
```python
countrylist.append
countrylist.clear
countrylist.copy
```

### Tuples
They are quite similar to lists, but have a big difference:       
tuples are unmutable.      
This means that they cannot be modified, for example by adding new elements, and their elements cannot be modified either.

In [17]:
coordinates = (59.532, -2.334)

In [18]:
coordinates[0] = 59.33

TypeError: 'tuple' object does not support item assignment

### Dictionaries
A dictionary associates `keys` to `values`.

In [26]:
capitals = {"Japan": "Tokyo", "U.S.A": "Whashington DC"}
capitals

{'Japan': 'Tokyo', 'U.S.A': 'Whashington DC'}

In [20]:
The different fields can be accessed using their key:

In [27]:
capitals["Japan"]

'Tokyo'

When do we use dictionaries?